
div.views-pager-month {
  margin-left: auto;
  margin-right: auto;
}

div.views-pager-month div {
  float: left;
  width: 20%;
  text-align: left;
}

div.views-pager-month div.current-page {
  text-align: center;
  font-weight: bold;
}

div.views-pager-month div.next-month,
div.views-pager-month div.next-year {
  text-align: right;
}
